body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --header-height:60px;
}

header {
  position: fixed;
  z-index: 9999;
  background: white;
  width: 100%;
  height: var(--header-height);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
  height: 100%;
}
header nav .navbar-links ul {
  list-style: none;
}
header nav .navbar-links ul li {
  display: inline-block;
  margin-left: 0.75rem;
}
header nav .navbar-links ul li a,
header nav .navbar-links ul li a:active {
  color: white;
}

#HighwayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.highwway-wrapper.moving {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
}

#PinContainer {
  perspective: 1px;
  height: 100%;
  width: 100%;
  overflow-y:hidden;
  overflow-x: auto;
  min-height: 100vh;
  
}
.layer img{
  height: 100%;
}

.layer {
  position:absolute;
  top:var(--header-height);
  right:0;
  bottom:0;
  left:0;
  height: calc(100vh - var(--header-height));
}

/* Scale for translateZ */
/* 1 + (translateZ * -1) / perspective */
#BackgroundContainer{
  display:flex;
  width: 100%;
  transform: translateZ(-0.08px) scale(1.08);
}

#ScenesContainer{
  display:flex;
  width: 100%;
  transform: translateZ(0) scale(1);
}

#TopContainer{
  display:flex;
  width: 100%;
  transform: translateZ(0.08px) scale(0.92);
}

.hotspot{
  position:absolute;
  left:0;
  bottom:0;
  height: 100vh;
}
.hotspot a{
  position:absolute;
}
.hotspot a:hover{
  background:red;
}
.hotspot .scene1-0{
  bottom:35%;
  left:6%;
}