body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --header-height:60px;
  --scroll-bar-height:15px;
}

header {
  position: fixed;
  z-index: 9999;
  background: white;
  width: 100%;
  height: var(--header-height);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
  height: 100%;
}
header nav .navbar-links ul {
  list-style: none;
}
header nav .navbar-links ul li {
  display: inline-block;
  margin-left: 0.75rem;
}
header nav .navbar-links ul li a,
header nav .navbar-links ul li a:active {
  color: white;
}

#HighwayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.highwway-wrapper.moving {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
}

#PinContainer {
  perspective: 1px;
  height: 100%;
  width: 100%;
  overflow-y:hidden;
  overflow-x: auto;
  min-height: 100vh;
  
}
.layer img{
  height: 100%;
}

.layer {
  position:absolute;
  top:var(--header-height);
  right:0;
  bottom:0;
  left:0;
  height: calc(100vh - var(--header-height) - var(--scroll-bar-height));
}

/* Scale for translateZ */
/* 1 + (translateZ * -1) / perspective */
#BackgroundContainer{
  display:flex;
  width: 100%;
  transform: translateZ(-0.08px) scale(1.08);
}

#ScenesContainer{
  display:flex;
  width: 100%;
  transform: translateZ(0) scale(1);
}

/* #TopContainer{
  display:flex;
  width: 100%;
  transform: translateZ(0.08px) scale(0.92);
} */
#TopContainer .top{
  height: 100%;
  position:absolute;
  z-index: 9;
}
/* #TopContainer .top-1{
  left:10.5%;
}
#TopContainer .top-2{
  left:21.5%;
}
#TopContainer .top-3{
  left:37%;
}
#TopContainer .top-4{
  left:49.5%;
}
#TopContainer .top-5{
  left:62%;
} */
#TopContainer .top-6{
  height: 50%;
  bottom:0;
}
/* #TopContainer .top-7{
  left:85.5%;
}
#TopContainer .top-8{
  left:98%;
} */
#HotSpotContainer{
  opacity:0;
  transition:opacity 0.3s linear;
}
.hotspot{
  position:absolute;
  left:0;
  bottom:0;
  height: calc(100vh - var(--header-height) - var(--scroll-bar-height));
}
.hotspot a{
  position:absolute;
  transform: scale(1);
  transition:all 0.3s ease-in-out;
}
.hotspot a:hover{
  transform: scale(1.1);
  transition:all 0.3s ease-in-out;
}

.hotspot .scene1-0{}
.hotspot .scene2-0{}
.hotspot .scene2-1{}
.hotspot .scene2-2{}
.hotspot .scene3-0{}
.hotspot .scene3-1{}
.hotspot .scene3-2{}
.hotspot .scene3-3{}
.hotspot .scene4-0{}
.hotspot .scene4-1{}
.hotspot .scene4-2{}
.hotspot .scene4-3{}
.hotspot .scene4-4{}
.hotspot .scene4-5{}
.hotspot .scene5-0{}
.hotspot .scene5-1{}
.hotspot .scene5-2{}
.hotspot .scene5-3{}
.hotspot .scene5-4{}
.hotspot .scene5-5{}
.hotspot .scene6-0{}
.hotspot .scene6-1{}
.hotspot .scene6-2{}
.hotspot .scene6-3{}
.hotspot .scene6-4{}
.hotspot .scene6-5{}
.hotspot .scene6-6{}
.hotspot .scene7-0{}
.hotspot .scene7-1{}
.hotspot .scene7-2{}
.hotspot .scene8-0{}


.hotspot .scene1-0 img {
  width: auto;
  height: 25.49vh;
}

.hotspot .scene2-0 img {
  width: auto;
  height: 39.44vh;
}

.hotspot .scene2-1 img {
  width: auto;
  height: 24.51vh;
}

.hotspot .scene2-2 img {
  width: auto;
  height: 13.47vh;
}

.hotspot .scene3-0 img {
  width: auto;
  height: 14.32vh;
}

.hotspot .scene3-1 img {
  width: auto;
  height: 16.75vh;
}

.hotspot .scene3-2 img {
  width: auto;
  height: 20.27vh;
}

.hotspot .scene3-3 img {
  width: auto;
  height: 66.50vh;
}

.hotspot .scene4-0 img {
  width: auto;
  height: 34.47vh;
}

.hotspot .scene4-1 img {
  width: auto;
  height: 49.51vh;
}

.hotspot .scene4-2 img {
  width: auto;
  height: 14.08vh;
}

.hotspot .scene4-3 img {
  width: auto;
  height: 8.50vh;
}

.hotspot .scene4-4 img {
  width: auto;
  height: 9.47vh;
}

.hotspot .scene4-5 img {
  width: auto;
  height: 34.47vh;
}

.hotspot .scene5-0 img {
  width: auto;
  height: 23.18vh;
}

.hotspot .scene5-1 img {
  width: auto;
  height: 27.06vh;
}

.hotspot .scene5-2 img {
  width: auto;
  height: 27.91vh;
}

.hotspot .scene5-3 img {
  width: auto;
  height: 19.42vh;
}

.hotspot .scene5-4 img {
  width: auto;
  height: 27.06vh;
}

.hotspot .scene5-5 img {
  width: auto;
  height: 6.07vh;
}

.hotspot .scene6-0 img {
  width: auto;
  height: 52.43vh;
}

.hotspot .scene6-1 img {
  width: auto;
  height: 15.05vh;
}

.hotspot .scene6-2 img {
  width: auto;
  height: 46.48vh;
}

.hotspot .scene6-3 img {
  width: auto;
  height: 34.47vh;
}

.hotspot .scene6-4 img {
  width: auto;
  height: 9.10vh;
}

.hotspot .scene6-5 img {
  width: auto;
  height: 11.77vh;
}

.hotspot .scene6-6 img {
  width: auto;
  height: 49.51vh;
}

.hotspot .scene7-0 img {
  width: auto;
  height: 46.48vh;
}

.hotspot .scene7-1 img {
  width: auto;
  height: 41.50vh;
}

.hotspot .scene7-2 img {
  width: auto;
  height: 12.50vh;
}

.hotspot .scene8-0 img {
  width: auto;
  height: 50.49vh;
}




.hotspot .scene1-0 img{
  /* width: 80%; */
  width: auto;
  height: 25vh;
}

.hotspot .scene2-0 img{
  /* width: 80%; */
  width: auto;
  height: 39vh;
}

.hotspot .scene2-1 img{
  /* width: 80%; */
  width: auto;
  height: 24vh;
}

.hotspot .scene2-2 img{
  /* width: 80%; */
  width: auto;
  height: 13vh;
}

.hotspot .scene3-3 img{
  /* width: 80%; */
  width: auto;
  height: 66vh;
}

.hotspot .scene4-0 img{
  /* width: 70%; */
  width: auto;
  height: 34vh;
}

.hotspot .scene4-1 img{
  /* width: 75%; */
  width: auto;
  height: 49vh;
}

.hotspot .scene4-3 img{
  /* width: 70%; */
  width: auto;
  height: 8vh;
}

.hotspot .scene4-4 img{
  /* width: 80%; */
  width: auto;
  height: 9vh;
}

.hotspot .scene4-5 img{
  /* width: 70%; */
  width: auto;
  height: 34vh;
}

.hotspot .scene6-0 img{
  /* width: 73%; */
  width: auto;
  height: 52vh;
}

.hotspot .scene6-2 img{
  /* width: 75%; */
  width: auto;
  height: 46vh;
}

.hotspot .scene6-3 img{
  /* width: 73%; */
  width: auto;
  height: 34vh;
}

.hotspot .scene6-6 img{
  /* width: 75%; */
  width: auto;
  height: 49vh;
}

.hotspot .scene7-0 img{
  /* width: 70%; */
  width: auto;
  height: 46vh;
}

.hotspot .scene7-1 img{
  /* width: 70%; */
  width: auto;
  height: 41vh;
}

.hotspot .scene7-2 img{
  /* width: 70%; */
  width: auto;
  height: 12vh;
}

.hotspot .scene8-0 img{
  /* width: 75%; */
  width: auto;
  height: 50vh;
}
